.site-logo {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgb(53, 53, 53);
}

.contact-link {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
}