.site-logo {
    height: 40px;
    width: 40px;
    margin: 10px;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(53, 53, 53);
}

container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-link {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(53, 53, 53);
    margin-top: 20px;
}


button {
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(0, 255, 26);
    border-radius: 10px;
    text-decoration: underline;
    border: none;
    margin-top: 23px;
  }
  
  button:hover {
    color: rgb(0, 255, 26);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
  }